<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ponude">
      <h2 data-cy="ponudeDetailsHeading"><span jhiTranslate="testApp.ponude.detail.title">Ponude</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ponude.id }}</span>
        </dd>
        <dt><span jhiTranslate="testApp.ponude.sifraPonude">Sifra Ponude</span></dt>
        <dd>
          <span>{{ ponude.sifraPonude }}</span>
        </dd>
        <dt><span jhiTranslate="testApp.ponude.ponudjenaVrijednost">Ponudjena Vrijednost</span></dt>
        <dd>
          <span>{{ ponude.ponudjenaVrijednost }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Nazad</span>
      </button>

      <button type="button" [routerLink]="['/ponude', ponude.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Izmeni</span>
      </button>
    </div>
  </div>
</div>
