.table-responsive table-entities {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: 400px;
}
.table-scroll table {
  width: 100%;
}

.table-scroll thead th {
  color: gray;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: wheat;
  color: white;
  z-index: 1;
}
